<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="csu.yulin.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="csu.yulin.model.entity.User">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="avatar" property="avatar"/>
        <result column="role" property="role"/>
        <result column="admin_level" property="adminLevel"/>
        <result column="status" property="status"/>
        <result column="user_real_name" property="userRealName"/>
        <result column="id_card_number" property="idCardNumber"/>
        <result column="user_bio" property="userBio"/>
        <result column="user_bank_account" property="userBankAccount"/>
        <result column="org_name" property="orgName"/>
        <result column="org_bio" property="orgBio"/>
        <result column="org_license_number" property="orgLicenseNumber"/>
        <result column="org_bank_account" property="orgBankAccount"/>
        <result column="certification_status" property="certificationStatus"/>
        <result column="certification_notes" property="certificationNotes"/>
        <result column="verifier_id" property="verifierId"/>
        <result column="contact_person_name" property="contactPersonName"/>
        <result column="donation_history" property="donationHistory"/>
        <result column="assistance_history" property="assistanceHistory"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id
        , username, password, email, phone_number, avatar, role, admin_level, status, user_real_name, id_card_number, user_bio, user_bank_account, org_name, org_bio, org_license_number, org_bank_account, certification_status, certification_notes, verifier_id, contact_person_name, donation_history, assistance_history, is_deleted, created_at, updated_at
    </sql>

</mapper>
